#wrapper {
  width: 100%;
  overflow: hidden;

}

#options {
  width: 50%;
  float: left;
  border-right: solid 1px black;

}

#cart {
  margin-left: 51%;

}

/* #add {
  whatever you want to change on the style of the button
} */

#empty {
  display: none;

}